/vendor
/node_modules
composer.lock
package-lock.json
yarn.lock
.phpunit.result.cache
.php-cs-fixer.cache
.pint.cache
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.log
.DS_Store
Thumbs.db
/build
/coverage
/.phpunit.cache
.phpactor.json
.php-cs-fixer.php
.php-cs-fixer.dist.php
.env
.env.backup
.env.local
.phpactor.json