@font-face {
    font-family: 'Samim';
    src: url('./Samim.woff2') format('woff2'),
         url('./Samim.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Samim';
    src: url('./Samim-Bold.woff2') format('woff2'),
         url('./Samim-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}