@font-face {
    font-family: 'Sahel';
    src: url('./Sahel.woff2') format('woff2'),
         url('./Sahel.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sahel';
    src: url('./Sahel-Bold.woff2') format('woff2'),
         url('./Sahel-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}